/* 全局 */
body {
	font-family: "Microsoft Yahei",宋体;
}
span {
	font-family: "Arial";
}

/* 导航 */
.main {
	background: #9b3903;
}

.home-bg {
	position:absolute;
	bottom: 50px;
}

.menu+.menu {
	margin-top: 15px;
}

.menu a {
	display: block;
	width:100%;
	height:100%;
	font-size: 14px;
	color: #000;
	text-align: center;
	border-radius: 50%;
	background: #fff;
	/* 半透明 */
	filter:alpha(Opacity=80);
	-moz-opacity:0.5;
	opacity: 0.7;
	z-index:100;
}

/* 子页全局 */
.page-bg {
	padding-bottom: 30px;
	background: url(../images/page_bg1.jpg) center top no-repeat;
	background-size: 100% 100%;
}

.header {
	padding: 10px;
	background: url(../images/white_bg.png);
}

.header-title {
	padding: 5px;
	background: #9b3803;
	color: #fff;
	font-size: 18px;
}

.shadow {
	height: 8px;
	background: url(../images/title_topbg.png) top left repeat-x;
}

.header-title span {
	margin-left: 10px;
	font-weight: normal;
	font-size: 14px;
}
/* 企业文化 */
.content-box {
	margin: 8px 0;
}

.content-box.culture-bg {
	background: url(../images/culture_box_bg.png) right top repeat-y;
}

.ct-content {
	margin: 15px 0;
}

.ct-content img {
	float: left;
	margin-right: 10px;
}

.ct-content span {
	color: #b90000;
}

.ct-content h3 {
	margin: 0;
	font-size: 14px;
	color: #53b900;
}

.ct-content p {
	margin-top: 10px;
	font-size: 12px;
}
/* 品牌故事 */
.story-bg, .introduce-bg, .news-bg {
	padding: 15px 0;
	background: url(../images/white_bg.png);
}
/* 产品展示 */
.product-box {
	padding: 15px;
	background: #fff;
	border: 1px dashed #00b400;
}

.product-box a {
	outline: none;
}

.product-box a:hover{
	background: #fff;
	border: 2px solid #1ebe04;
	border-radius: 5px;
}

.product-title {
	margin-bottom: 5px;
	padding: 7px;
	font-size: 14px;
	color: #fff;
	background: #a40000;
}

.product-text {
	margin-top: 5px;
	padding: 5px;
	font-size: 12px;
	color: #000;
	background: #f0f0f0;
}

.product-text span {
	color: #1ebe04;
}

/* 产品介绍 */
.introduce-bg img {
	margin-bottom: 10px;
}

.introduce-bg p {
	font-size: 14px;
}

.introduce-bg p span {
	color: #2a6e01;
}

/* 最新动态 */
.news-text p.title {
	font-size: 12px;
	font-weight: bold;
	color: #a10303;
}

.news-text {
	font-size: 12px;
}

.news-text.date {
	color: #ccc;
}

.news-text p span.browse {
	margin-left: 5px;
}

.news-text p span img {
	margin-right: 5px;
}
/* 联系我们 */
.contact {
	font-size: 16px;
	border-top: 3px solid #46bb00;
	background: #fff;
}

.contact-title {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.contact-text {
	padding: 10px 0;
	text-align: center;
}

.contact-text span {
	color: #46bb00;
}
/* 菜单 */
.section {
	padding: 0 3px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.section h2 {
	font-size: 16px;
	font-weight: bold;
	padding: 5px 5px;
	color: #5b5b5b;
}

.btns .ui-button {
	vertical-align: bottom;
}

#container {
	position: relative;
	height: 300px;
}
#btn1, #btn2, #btn3, #btn4 {
	position: absolute;
	left: 5px;
	top: 5px;
}
#btn2 {
	left: 50%;
	margin-left: -20px;
}
#btn3 {
	left: auto;
	right: 5px;
}
#btn4 {
	top: auto;
	left: 50%;
	margin-left: -10px;
	bottom: 5px;
}