# ignore the emacs editor cache file
*~

# ignore the data/ dir
data/

# ignore the public dir
Public/

# ignore the app/Runtime dir
app/Runtime/

# ignore the app/Modules/Mobile/Tpl
app/Modules/Mobile/Tpl
app/Modules/Shenlan/Tpl
