 
.ui-body-c, .ui-dialog.ui-overlay-c{ background:none; text-shadow:none;}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button{ font-family:微软雅黑; }
 


/*幻灯片*/
header{text-align:center;   position:relative;      overflow:hidden;}
ul{ margin:0px; padding:0px;}
#nav{ position:absolute; width:100%; height:20px; line-height:20px;   bottom:0px;}
#nav{ float:left; margin-right:5%; opacity:1;} 
#nav ul li{ float:left; background:#fff; border-radius:10px; width:10px; height:10px; margin-left:10px; margin-top:5px; opacity:0.5;}
#nav ul li.active{ background:#fff;opacity:1;}
 
 
.banner img{
	width:100%;
	
	
}
.banner ul li{ float:left;}

 .catemenu {
overflow: hidden;
background-color: #fff;
border-radius: 4px;
margin: 10px 10px 4px 9px;
box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
 .catemenu ul {
width: 100%;
overflow: hidden;
}
.catemenu li {
display: list-item;
text-align: -webkit-match-parent;
}
 .catemenu li {
width: 33.33%;
float: left;
font-size: 15px;
border-top: 1px solid #EDEDED;
}
 .catemenu li:nth-child(-n+3) {
border-top: 0 none;
}
 .catemenu a{
display: block;
border-right: 1px solid #EDEDED;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding:20px 5px;
height:100%;
text-align:center;
}
 .catemenu li:nth-child(3n) a{
border-right: 0 none;
}
img {
max-width: 100%;
height: auto;
width: auto;
border: none;
}
ul {
list-style: none;
}

.weiba-masklayer.black {
    background-color: #000000;
    opacity: 0;
}