*{ font-family:Microsoft YaHei; font-size:14px; text-shadow:none;}
a{ text-decoration:none;}
.ui-body-c a.ui-link,.ui-body-c a.ui-link:hover,.ui-body-c a.ui-link:visited { color:inherit;}
 
img{  display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
body{ background:#e3e3e3}
h1 img{ float:left; margin-left:20px;}
.index-top{ height:auto; background:url(../images/inde-bg.jpg); background-size:100% 100%; padding-top:100px;} 
.index-top .wrapper{ background:url(../images/touming.png);} 
.dianhua{ height:40px; line-height:40px; text-align:center; background:#00407c;}
.dianhua a{ display:inline-block; padding-left:30px; background:url(../images/dianhua.png) no-repeat;}
 
 
.nav li{ height:30px; padding:10px; margin:10px;  line-height:30px; text-align:center; background:#fff; border-left:5px solid #888; box-shadow:5px 5px 5px #ccc;} 
.nav li a{ display:block;}
.nav li img{ float:right;}
.nav li a{ font-size:18px; color:#4a4a4a;}
#main{ box-shadow:0 0 10px #ccc;}
.ui-header .ui-btn-inner{ padding:0; background:none;}
.ui-btn-corner-all{ border-radius:0; background:none;  border:0;}
.about h2{ padding:20px 0 0; font-size:18px;}
.about em{ font-size:12px; color:#999;}
.about p{ text-indent:30px;}
.about .img{ padding:10px; border:1px solid #ccc; background:#fff; box-shadow:0 0 3px #ccc;}
.popup{ width:40%; position:absolute; right:-40%; top:0;}
.commodity-name{ width:100%; height:30px; line-height:30px; text-indent:10px; background:url(../images/baitouming.png); position:absolute; bottom:0px;}
.commodity-name span{ font-size:12px; font-weight:normal; }
.commodity-name em{ float:right; font-size:12px;; padding:0 5px; background:url(../images/xin.png) no-repeat left center;}
 
.commodity-nei{ padding:5px; background:#fff; box-shadow:2px 2px 5px #999;}
.commodity-nei a{ display:block; position:relative; }
.commodity-nei img{ width:100%;}
.commodity-del{ width:96%; margin:0 2%; padding:10px 0; border-bottom:1px dashed #b9b9b9;}
.commodity-nei-q{ width:50%; float:left;}
.commodity-nei-q img{ width:100%; padding:5px; background:#fff;}
.commodity-nei-h{ width:40%; float:right;}
.commodity-nei-h dl,.commodity-nei-h dt{ padding-bottom:10px;}
.commodity-nei-h dd{ font-size:12px;}
.commodity-nei-h p{ font-size:12px; color:#999;}

.contact{ margin-bottom:20px; border-top:5px solid #414141; background:#fff; box-shadow:0 0 5px #ccc;}
.contact h2{ padding:5px; font-size:18px; border-bottom:1px solid #e6e6e6; margin-bottom:20px; }
.contact p{ text-align:center; padding-bottom:20px;}
.ui-body-c .dianhua a.ui-link{ color:#fff;}