*{ font-family:Microsoft YaHei; font-size:14px; text-shadow:none;}
a{ text-decoration:none;}
.ui-body-c a.ui-link,.ui-body-c a.ui-link:hover,.ui-body-c a.ui-link:visited { color:inherit;}
.ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow{ box-shadow:none; padding:0; background:none; border-radius:0;}
h1{ color:#fff;}
p{ text-align:left; text-indent:20px;} 
img{  display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
textarea.ui-input-text{ height:auto;}
body{ background:#e3e3e3}
.dianhua{ height:43px; padding:0 10px; margin:10px; background:#fff;}
.dianhua a{ display:block; height:43px; line-height:43px; text-align:center; background:url(../images/dianhua2.png) no-repeat 20px center;}
.ui-body-c .nav li a.ui-link{ display:block; padding:30px; text-align:center; color:#fff; margin:5px; }
#main{ position:relative;}

.nav li{ width:50%; float:left;}
.nav li a{ display:block; padding:25px 0; margin:5px; font-size:16px; text-align:center; color:#fff;}
.nav li a:link,.nav li a:visited,.nav li a:hover{ color:#fff;}
 
.nav li a img{ margin-bottom:10px;}
.nav li:nth-child(1) a{ background:#f97d75;}
.nav li:nth-child(2) a{ background:#7bb560;}
.nav li:nth-child(3) a{ background:#6bb1e2;}
.nav li:nth-child(4) a{ background:#ff9b39;}

.ui-header{ background:#ff8001;}
.ui-header a{ border: 0 none;  border-radius: 0; background:none; box-shadow:none;}
.ui-header a span.ui-btn-inner{ padding:0; border:0; padding-top:6px;}
.ui-btn-corner-all{ border-radius:0;}

.product-item{ display:block; margin-top:10px; padding:10px 10px 0 10px; background:#fff; box-shadow:1px 1px 5px #ccc; border-radius:5px;}
.product-item h2{ font-size:16px; line-height:26px; margin-bottom:10px;}
.product-item dt{ float:left; margin-right:5%; width:45%; margin-bottom:10px;}
.product-item dd{ float:left; margin-bottom:10px; width:50%;}
.product-item dd p{ font-weight:normal; text-indent:0;}
.product-item dd em{ float:right; margin-top:10px; font-size:12px; color:#999;}
.product-item dd em img{ display:inline; margin:0 0 0 5px;}

.popup{  width:30%; position:absolute; top:0; right:-30%; display:none; }

.details h2{ font-size:18px; padding:10px 0;}
.details em{ font-size:12px; color:#999; padding:5px 0;}
.details p{ margin:10px 0; text-align:left; text-indent:20px;}

.contact-item { margin:10px 0; padding-bottom:10px; border:1px solid #ededed; border-radius:5px; background:#fff;}
.contact-item h2 { margin-bottom:10px; padding:0 10px; font-size:16px; line-height:30px; text-align:left; background:#fafafa; border-bottom:1px solid #e0e0e0;}
.contact-item p {   line-height:34px; text-align:left; text-indent:20px;}
.contact-item img {  float:left; margin-left:10px;}
.map p{ padding:10px;}
.map p img{ margin:0;}

.introduce dt{ float:left; width:40%; margin:0 10px 10px 0;}
.introduce dd p{ line-height:22px; padding-bottom:5px;}

.leave input{ text-indent:20px; }
.leave input.name{ background:#fff url(../images/simg4.gif) no-repeat 8px center;}
.leave input.number { background:#fff url(../images/simg5.gif) no-repeat 8px center;}
.leave input.ui-btn-hidden{ color:#fff; background:#6eb74b; opacity:10;}
.leave .ui-btn span{ color:#fff; z-index:999;}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{ color:#333;}