*{padding:0;margin:0;font-size:14px; color:#6d6d6d; font-family:Microsoft YaHei;}

.white{ background:#fff;} 	
li{list-style-type:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}	
body{ background:#87365f;}
.navbar-nav > li > a,.navbar-brand{ color:#ccc;}
.navbar-nav > li > a:hover,.navbar-brand:hover{ color:#fff; background:none;}
.navbar-nav > li.drop-down a{ padding:5px 0 0;}
.container{ border:5px solid #ab577b; border-radius:5px; background:#383d40;}
.navbar{background:#222;}
.navbar .container{ border:0; background:none;} 
#sidebar{ padding:0;}
#sidebar .list-group{ margin-bottom:0; height:100%; border-radius:0; background:#383d40;}
#sidebar .list-group a{ color:#fff; background:none; border:0;}
.main-right{ background:#f3f3f3;}