 /*主题色*/
 .container,.theme { background:#98D9EB;}
 
 /*头部色*/
 .header{ background:#52C8E9;}
 
 /*列表色*/
 .list{ background:#fff;}
 
 /*方格色*/
 .grid{background:#fff; }
 
 /*详情色*/
 .details{ background:#fff;}