 /*主题色*/
 .container,.theme { background:#69B6FF;}
 
 /*头部色*/
 .header{ background:#1D80DE;}
 
 /*列表色*/
 .list{ background:#fff;}
 
 /*方格色*/
 .grid{background:#fff; }
 
 /*详情色*/
 .details{ background:#fff;}