 /*主题色*/
 .container,.theme { background:#ECECEC;}
 
 /*头部色*/
 .header{ background:#636363;}
 
 /*列表色*/
 .list{ background:#ECECEC;}
 
 /*方格色*/
 .grid{background:#fff; }
 
 /*详情色*/
 .details{ background:#fff;}